<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

        <p><a th:href="@{/formulario}" class="btn btn-success btn-xs">crear persona</a></p>
		<table class="table table-striped table-bordered">
			<thead class="thead-inverse">
				<tr>
					<th>identificacion</th>
					<th>identificacion</th>
					<th>nombres</th>
					<th>apellidos</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona: ${personas}">
					<td> <a class="btn btn-primary btn-xs" th:href="@{/ver/}+${persona.id}" th:text="${persona.id}"></a></td>
					<td th:text="${persona.identificacion}" /></td>
					<td th:text="${persona.nombres}" /></td>
					<td th:text="${persona.apellidos}" /></td>
				</tr>
			</tbody>


		</table>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>